
body {
    max-width: 100%;
}

@font-face {
    font-family: "Baskerville-old-face";
    src: url("/verify24/assests/fonts/BASKVILL.ttf") format("truetype");
}

.baskvile {
    font-family: "Baskerville-old-face", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: screen;
}
                        
#name-element {
    font-size: 60.0px;
}

.header {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2rem;
}

.hidden {
    display: none;
}

@media (max-width: 767px) {
    .header {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
}

.transform img {
    width: 100%;
    max-width: 220.0px;
    height: auto;
}

.image-container img,
canvas {
    width: 100%;
    max-width: 220.0px;
    height: auto;
    display: block;
}
